<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
