<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>Sorry, something went wrong :/</h1>
    <p>Don't worry, our monkeys are working on this issue.</p>
  </body>
</html>
